<div class="post-main posts-index">
  <div class="post-container">
    <div class="posts-show-item">
      <h2><%= @user.name %></h2>
      <p><%= @user.self_introduction %></p>
      <% if current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <!--<ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
    </ul>-->
    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= post.user.created_at %) %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
    <% @user.liked_posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-right">
          <p>いいねリスト</p>
          <%= post.user.name %>
          <%= post.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>