<div class="user-show-main">
  <div class="user-show-container">
    <div class="profile-card">
      <div class="profile-card__inner">
      <div class="profile-thumb">
        <%= image_tag @user.avatar.url, class: 'profile-thumb' %>
      </div>
      <div class="profile-content">
        <span class="profile-name"><%= @user.name %></span>
        <span class="profile-intro"><%= @user.self_introduction %></span>
      </div>
      <div class="profile-edit">
        <% if @user == current_user %>
          <%= link_to "編集", "/users/#{@user.id}/edit", style: "color: #8899a6;" %>
        <% end %>
      </div>
    </div>
    <div class="user-show-liked">
      <p>投稿リスト</p>
    </div>
    <% @user.posts.each do |post| %>
      <div class="user-show-item">
        <div class="post-right">
          <%= link_to(post.content, "/posts/#{post.id}", style: "color: black;") %>
          <br>
          <div class="user-show-time">  
            <%= post.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="user-show-liked">
      <p>いいねリスト</p>
    </div>
    <% @user.liked_posts.each do |post| %>
      <div class="user-index-item">
        <div class="post-right">
          <%= link_to(post.user.name, "/users/#{post.user.id}", style: "color: black;") %>
          <%= link_to(post.content, "/posts/#{post.id}", style: "color: black;") %>
        </div>
      </div>
    <% end %>
  </div>
</div>