<header class="masthead">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>ログイン</h3>
			</div>
			<div class="card-body">
			  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<form>
					<div class="input-group form-group">
						<!--<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username">-->
						<div class="field">
						  <%= f.label :メールアドレス %><br />
						  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
					    </div>
					</div>
					<div class="input-group form-group">
						<!--<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">-->
						<div class="field">
						  <%= f.label :パスワード %><br />
						  <%= f.password_field :password, autocomplete: "current-password" %>
					    </div>
					</div>
					<div class="form-group">
						<input type="submit" value="ログイン" class="float-right login_btn">
					</div>
				</form>
			  <% end %>	
			</div>
		</div>
	</div>
</header>
</body>
</html>