<div class="post-main">
  <div class="post-container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <div class="post-user-avatar">
            <%= image_tag post.user.avatar.url, class: 'user-image', size: '500x240' %>
          </div> 
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}", style: "color: black;") %>
          </div>
        </div>
        <div class="post-user-content">
          <%= link_to(post.content, "/posts/#{post.id}", style: "color: black;") %>
        </div>
        <div class="post-user-audio">
          <% if post.file.present? %> 
            <%= audio_tag post.file_url, :controls => true %>
          <% end %>
        </div>
        <div class="post-user-heart">
          <% if post.liked_users.count %>
            <i class="fas fa-heart unlike-btn" ></i>
          <% else %>
            <i class="fas fa-heart like-btn" ></i>
          <% end %>
        </div> 
        <div class="post-user-heart-count"> 
          <%= post.liked_users.count %>
        </div>
        <div class="post-user-right">
          <%= post.user.created_at.to_s(:datetime_jp) %>
        </div>
      </div>
    <% end %>
    <br>
    <%= paginate @posts %>
  </div>
</div>