<div class="post-new-main">
  <div class="post-new-container">
    <p class="post-new-heading">投稿する</p>
    <div class="form">
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_for @post do |f| %>
        <%= f.text_area :content, :size=>"60x5", :placeholder => "コメント" %>
        <p>音声</p>
        <%= f.file_field :file , :size => 140 %>
        <%= f.submit "送信", class: 'post-new-btn' %>
      <% end %>
    </div>  
  </div>
</div>