<div class="post-main posts-index">
  <div class="post-container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <% if @post.file.present? %> 
        <%= audio_tag @post.file_url, :controls => true %>
      <% end %>
      <% if current_user.already_liked?(@post) %>
        <%= link_to post_like_path(@post), method: :delete do %>
          <i class="fas fa-heart unlike-btn" ></i>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
          <i class="fas fa-heart like-btn" ></i>
        <% end %>
      <% end %>
      <%= @post.likes.count %>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
      <p>いいねしたユーザー</p>
      <% @post.liked_users.each do |user| %>
        <%= user.name %>
      <% end %>
      <h2>コメント一覧</h2>
      <% @comments.each do |c| %>
        <div>
          <a href="/users/<%= @post.user.id %>"><%= c.user.name %></a>
          <%= c.comment %>
          <hr>
        </div>
      <% end %>
      <%= form_with model: @comment, url: comments_path do |f| %>
        <%= hidden_field_tag 'comment[post_id]', @post.id %>
        <%= f.text_field :comment %>
        <br>
        <%= f.submit 'コメントする' %>
      <% end %>
    </div>
  </div>
</div>